html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

#fanContainer {
  top: 142px;
  left: 71px;
  -webkit-transform: rotateY(40deg);
  transform: rotateY(40deg); }

.fan {
  width: 28px;
  height: 86px;
  background: url("../img/fan.svg") no-repeat;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

#fanOne {
  top: 3px;
  left: -1px; }

#fanTwo {
  top: -29px;
  left: 235px; }
