@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mainContent {
    position: relative;

    overflow: hidden;

    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    // background: $backgroundColor ;    
    background:url("../img/bg.jpg") no-repeat;
	background-size: cover;
	box-sizing: border-box;
	div,
	img {
		position: absolute;
	}
}

#fanContainer{
    top: 142px;
    left: 71px;
	transform:rotateY(40deg);

}
.fan{
    
	width: 28px;
	height: 86px;
	background: url('../img/fan.svg') no-repeat;
	transform-origin: 50% 50%;
}
#fanOne{
    top: 3px;
    left: -1px;
}
#fanTwo{
    top: -29px;
    left: 235px;
}